<% content_for :right do %>

<% unless @forum.moderators.empty? -%>
  <h5 style="margin-bottom:1.0em;"><%= 'Moderators'[:moderators] %></h5>
  <ul class="flat" style="margin-top:1em;">
  <% @forum.moderators.each do |user| -%>
    <li><%= link_to h(user.display_name || user.login), user %></li>
  <% end -%>
  </ul>
<% else -%>
  
<% end -%>

  <h2 style="text-transform: lowercase">help!</h2>
  <p>&bull;&nbsp;Click on the name of the topic to post a message</p>
  <br>

<% end %>

<div class="post">
    <div class="entry">

    <% @page_title = @forum.name %>

    <h1 style="margin-top:0.5em">
      <%= h @forum.name %>
    </h1>

    <p class="subtitle">
      <%= '{count} topic(s)'[(count=@forum.topics.size)==1 ? :topic_count : :topics_count, number_with_delimiter(count)] %>, 
      <%= '{count} post(s)'[(count=@forum.posts.size)==1 ? :post_count : :posts_count, number_with_delimiter(count)] %>
      <% if logged_in? %>
        <%= link_to 'Create new topic'[:new_topic], new_forum_topic_path(@forum), :class => "utility" %>
      <% end%>
    </p>

    <% if @topics.page_count > 1 -%>
    <% if logged_in? %>
    <p style="float:right; margin-top:0;"><%= link_to 'New topic'[], new_topic_path(@forum), :class => "utility" %></p>
    <% end %>
    <%= pagination @topics %>
    <% end -%>

    <table border="0" cellspacing="0" cellpadding="0" class="wide topics">
    <tr>
      <th class="la" colspan="2"><%= 'Topic'[:topic_title] %></th>
      <th width="1%"><%= 'Posts'[:posts_title] %></th>
      <th width="1%"><%= 'Views'[:views_title] %></th>
      <th class="la"><%= 'Last post'[:last_post] %></th>
    </tr>
    <% for topic in @topics %>
    <tr class="hentry">
      <td colspan="2">
        <% 
        icon = "comment"
        color = ""
        if topic.locked?
          icon = "lock"
          post = ", this topic is locked."[:comma_locked_topic]
          color = "darkgrey"
        end
        %>
        <% if recent_topic_activity(topic) %>
            <%= image_tag "clearbits/#{icon}.gif", :class => "icon green", :title => "Recent activity"[]+"#{post}" %>
        <% else %>
            <%= image_tag "clearbits/#{icon}.gif", :class => "icon grey #{color}", :title => "No recent activity"[]+"#{post}" %>
        <% end %>
        <%= "Sticky"[:sticky_title]+": <strong>" if topic.sticky? %>
        <%= topic_title_link (topic), :class => "entry-title", :rel => "bookmark" %>
        <%= "</strong>" if topic.sticky? %>
      </td>
      <td class="ca inv stat"><%= topic.posts.size %></td>
      <td class="ca inv stat"><%= number_with_delimiter(topic.hits) %></td>
      <td class="lp">
        <abbr class="updated" title="<%= topic.last_updated_at.xmlschema %>"><%= jstime(topic.last_updated_at) %></abbr>
        <%= 'by {user}'[:by_user, "<span class=\"author\"><strong class=\"fn\">#{h(topic.last_user.show_display_name)}</strong></span>"] %>
      </td>
    </tr>
    <% end %>
    </table>

    <%= next_page @topics %>
    <%= pagination @topics %>

  
    </div>
</div>
  
