<% content_for :right do %>
    <div id="hide-sidebar1"></div>
<% end %>

<p>
  <b>Title:</b>
  <%= @billboard.title %>
</p>
<p>
  <b>Position:</b>
  <%= @billboard.position %>
</p>
<p>
  <b>Body:</b>
  <%= @billboard.body %>
</p>

<%= link_to 'Edit', edit_billboard_path(@billboard) %> |
<%= link_to 'Back', billboards_path %>
